.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #33a7d6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
	width:100%;
}

.App-secondary-landing {
  background-color: white !important;
  height: 100%;
  color:grey;
	padding-top:100px;
}

@media screen and (max-width: 5000px) {
	.App-howto {
		width:50%;
	}

	.App-demo {
		width:1000px;
	  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	.disclaimer {
		font-size:14px;
		width:50vw;
		text-align:center;
		margin:0 auto;
		padding:15px;
		padding-bottom:15px;
	}
}

@media screen and (max-width: 600px) {
	.App-howto {
		width:100%;
	}

	.App-demo {
		width:90%;
	  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	.disclaimer {
		font-size:14px;
		text-align:center;
		margin:0 auto;
		padding:15px;
		padding-bottom:50px;
	}
}

.footer {
	margin-bottom:50px;
}

.App-done-header {
  background-color: #33a7d6;
	color:
	white;
	padding: 10px;
	font-weight: bold;
	margin-bottom: 15px;
}
.App-link {
  color: #61dafb;
}

